// Button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 20px;
    height: 2px;
    margin: 0 0 5px 0;
    background: white;
    @include easeOut;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        background: red;
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        background: red;
        transform: rotate(45deg) translate(5px, 5px);
        opacity: 0;
      }
      &:nth-child(3) {
        background: red;
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}
